html,body{

  height: 100%;

}

body{
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.playfair{
  font-family: 'Playfair Display', serif;
}

button:focus{
    outline: none;
}


header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999999;
}

header.sticky{
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

header .logo{
    width: 35px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

header .logo::before{
    content: '';
    display: block;
    padding-top: 131.4%;
}

header .logo img{
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

header.sticky .logo img{
    top: -100%;
}

header nav{
    float: right;
}
header nav .nav-btn{
    display: none;
}



header nav .list-item{
    display: inline-block;
    color: #fff;
    margin-left: 40px;
}

header.sticky nav .list-item{
  color: black;
}

header nav .list-item:first-child{
    margin-left: 0px;
}

header nav .list-item a, header nav .list-item a:hover, header nav .list-item a:focus{
    color: inherit;
    text-decoration: none;
}

header nav .list-item:last-child{
    margin-left: 80px;
}
header nav .list-item span.icon{
    margin-left: 5px;
    vertical-align: middle;
}

@media (min-width: 768px){

    header nav .nav-list .list-item{
      position: relative;
    }
    header.sticky nav .nav-list .list-item:before{
      background: black;
    }
    header nav .nav-list .list-item:before{
      content: '';
      background-color: #FFF;
      display: block;
      position: absolute;
      height: 3px;
      right: 0;
      left: 0;
      bottom: -8px;
      width: 0;
      transition: width .4s;
    }
    header nav .nav-list .list-item:hover:before{

      width: 100%;

    }
    header nav .nav-list .list-item .icon{
      position: relative;
      right: Opx;
      transition: .4s;
    }
    header nav .nav-list .list-item:hover .icon{

      right: -5px;

    }
}

@media(max-width: 767px){
    header nav:not(.active) .nav-list .list-item{
        right: -200px;
    }

    header nav .nav-btn{
    display: block;
    }
    header nav:not(.active) .nav-btn{
        background: transparent;
    }
    header nav .nav-btn{
        width: 40px;
        background: none;
        border: none;
        margin-top: 9px;
        background-color: grey;
        padding: 8px 7px;
        border-radius: 3px;
    }

    header nav .nav-list{

        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 200px;

    }

    header nav .nav-list .list-item{

        display: block;
        margin-left: 0;
        border-bottom: 1px solid black;
        background-color: grey;
        margin-bottom: 10px;
        position: relative;
        right: 0;
        transition: right .3s;

    }

    header nav .nav-list .list-item a{

        padding: 15px;
        display: block;
        border-right: 4px solid black;

    }

    header nav .nav-list .list-item:hover, header nav .nav-list .list-item.active{

        background-color: black;

    }

    header nav .nav-btn .btn-line{
        display: block;
        height: 2px;
        background-color: #fff;
        margin-bottom: 6px;
    }

    header.sticky nav .nav-btn .btn-line{
        background-color: black;
    }

    header nav .nav-btn .btn-line:last-child{
        margin-bottom: 0;
    }


}


/************* SECTIONS *************/

.section{
  height: 100%;
  min-height: 500px;
  padding-top: 92px;
}

/*Main Section*/

.main-section{
  background-image: url(../images/bg-dark.jpg);
  background-size: cover;
}

.main-section .title{
  font-size: 45px;
  color: #fff;
  text-align: right;
  line-height: 0.8;
}
.main-section .title .small{
  font-size: 14px;
  font-weight: 400;
  display: block;
  letter-spacing: 7px;
  margin-bottom: 35px;
}

.main-section .container{
  position: relative;
}

.main-section .row{
  margin-top: 180px;
}


.main-section img{
  box-shadow: 2px 12px 40px 0 rgba(0, 0, 0, .25);
  border-radius: 50%;
}
.main-section .information{
  color: white;
  text-align: right;
  font-size: 12px;
  right: 0;
}

.main-section .information .phone-number{
  font-size: 26px;
  margin: 0 0 25px;
}

.main-section .information .small{
  color: #ccc;
  margin: 0;
}

.main-section .information .white{
  color: #fff;
}

@media (max-width: 776px){
  .main-section .information{

  }
}

/*** Section 2 ***/

.section-header{
  font-size: 45px;
  line-height: .9;
}

.section-title .small{
  font-size: 12px;
  font-weight: 600;
  display: block;
  letter-spacing: 9px;
  opacity: 0.75;
  margin-bottom: 25px;
  color: #d5d5d5;
}
